* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #086596 0%, #033d5f 100%);
}

nav {
    width: 100%;
    max-width: 1200px;
    height: 80px;

}

.gce-hg-hero {
    width: 100%;
    height: 405px;
}

.bg-hg-img-desk {width: 100%;}
.bg-hg-img-mobile {display: none;}

@media (max-width:1600px) {
    .bg-hg-img-desk {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

@media (max-width: 875px) {
    .bg-hg-img-desk {display: none;}
    .bg-hg-img-mobile {
        display: block;
        width: 100%;
    }
}


