* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

@media (max-width: 768px) {
    html {
        font-size: 16px;
    }
}


body {
    font-family: 'Mulish', sans-serif;
    color: rgb(32 33 36 / 1);
}

.gce-h1, 
.gce-h2, 
.gce-h3, 
.gce-h4, 
.gce-h5,
.gce-h6 {
    font-weight: 800 !important;
    line-height: 1.4 !important;
    color: rgb(32 33 36 / 1) !important;
}

.gce-h1 {
    /* margin-bottom: 0.67em;
    font-size: 2rem; */
    margin-bottom: 13.4px;
    font-size: 40px;
}

.gce-h2 {
    /* margin-bottom: 0.83em;
    font-size: 1.5rem; */
    margin-bottom: 16.6px !important;
    font-size: 30px !important;
}

.gce-h3 {
    /* margin-bottom: 1em;
    font-size: 1.17rem; */
    margin-bottom: 20px;
    font-size: 23.4px;
}

.gce-h4 {
    /* margin-bottom: 1.33em;
    font-size: 1rem; */
    margin-bottom: 26.6px;
    font-size: 20px;
}

.gce-h5 {
    /* margin-bottom: 1.67em;
    font-size: .83rem; */
    margin-bottom: 33.4px;
    font-size: 16.6px;
}

.gce-h6 {
    /* margin-bottom: 2.33em;
    font-size: .67rem; */
    margin-bottom: 46.6px;
    font-size: 13.4px;
}

.gce-p {
    /* margin-bottom: 1em;
    font-size: 1rem; */
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4;
    color: rgb(32 33 36 / 1);
}

@media (max-width: 768px) {
    .gce-h1 {
        /* margin-bottom: 0.67em;
        font-size: 2rem; */
        margin-bottom: 10.72px;
        font-size: 32px;
    }
    
    .gce-h2 {
        margin-bottom: 13.28px !important;
        font-size: 24px !important;
    }
    
    .gce-h3 {
        margin-bottom: 16px;
        font-size: 18.72px;
    }
    
    .gce-h4 {
        margin-bottom: 21.28px;
        font-size: 16px;
    }
    
    .gce-h5 {
        margin-bottom: 26.72px;
        font-size: 13.28px;
    }
    
    .gce-h6 {
        margin-bottom: 37.28px;
        font-size: 10.72px;
    }
    
    .gce-p {
        margin-bottom: 16px;
        font-size: 16px;
    }
}

.gce-img {
    border-radius: 4px;
}

/* Placeholder Header CSS */
/* header {
    width: 100%;
    height: 175px;
    background-color: rgb(7 89 133 / 1);
} */

/* Generic Class CSS */

.gce-full-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: .5em;
    padding-right: .5em;
    box-sizing: border-box;
    color: rgb(32 33 36 / 1);
}

.gce-section {
    width: 100%;
    max-width: 1000px;

}

.gce-section-header,
.gce-section-subheader {
    width: 100%;
    text-align: center;

}

.gce-section-paragraph {
    margin-bottom: 1em;
    font-size: 1rem;
    line-height: 1.4;
}

.gce-text-bold {
    font-weight: 800;
}

.gce-text-white {
    color: white !important;
}

.gce-text-center {
    text-align: center;
}

.gce-mtb-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.gce-mtb-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.gce-ptb-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.gce-ptb-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.gce-bc-gce-gray {
    /* background-color:rgb(193 198 200 / 1); */
    background: radial-gradient(circle, rgba(236,237,238,1) 64%, rgba(193,198,200,1) 100%);
}

.gce-bc-gce-blue {
    background-color: rgb(0 88 124);
}

@media (max-width:768px) {
    .gce-bc-gce-gray {background: linear-gradient(8deg, rgba(230,232,233,1) 0%, rgba(236,237,238,1) 14%, rgba(242,243,244,1) 100%);}
}

.gce-cta-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.gce-cta {
    width: 50%;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.gce-cta-link {
    display: block;
    padding: 15px;
    font-size: 1rem;
    color: rgb(255 255 255 / 1);
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(176 17 22 / 1);
    border-radius: 15px;
}

.gce-cta-link:hover {
    cursor: pointer;
    background-color: rgb(158 15 19 / 1);
    color: rgb(255 255 255 / 1);
}

@media (max-width: 768px) {
    .gce-cta {width: 75%;}
}

@media (max-width: 576px) {
    .gce-cta {width: 90%;}
}

/* CSS For Aces High Promo */

.gce-bc-poker-green {
    background: radial-gradient(circle, rgba(53,101,77,1) 64%, rgba(47,90,69,1) 100%);
}

.gce-promo-container {
    width: 100%;
    display: flex;
    margin: 30px 0;
}

.gce-promo-panel {
    width: 50%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gce-promo-description {
    width: 100%;
}

.gce-promo-description p {
    margin-bottom: 0;
}

.gce-promo-list {
    margin-bottom: 0;
    list-style-type: none;
    padding-inline-start: 0 !important;
}

.gce-promo-list-item {
    margin-bottom: 16px;
}

.gce-promo-graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.gce-promo-graphic img {
    width: 450px;
}

.gce-promo-prize {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gce-promo-prize img {
    width: 100%;
}

.gce-promo-rules-container {
    width: 100%;
}

.gce-promo-rule {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.gce-promo-rule:last-of-type {
    margin-bottom: 0;
}

.gce-promo-rule svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: rgb(32 33 36 / 1);
}

.gce-promo-rule p {
    margin-bottom: 0;
}

.gce-promo-rule-link {
    text-decoration: none;
    cursor: pointer;
    color: rgb(32 33 36 / 1);
    font-weight: 800;
    text-decoration: underline;
}

.gce-promo-rule-link:hover {
    text-decoration: underline;
}

.gce-circle-ph {
    width: 400px;
    height: 400px;
    background-color: rgb(255 255 255 / .4);
    border-radius: 50%;
}

.gce-square-ph {
    width: 400px;
    height: 400px;
    background-color: rgb(172 181 175 / .4);
}

@media (max-width: 992px) {
    .gce-promo-graphic img {
        width: 300px;
    }

    .gce-square-ph {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 768px) {
    .gce-promo-container {
        flex-direction: column-reverse;
    }

    .gce-promo-graphic {
        width: 100%;
    }

    .gce-promo-panel {
        width: 100%;
    }

    .gce-promo-rule {
        margin-bottom: 32px;
    }

    .gce-promo-rule svg {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 576px) {
    .gce-promo-rule svg {
        width: 16px;
        height: 16px;
    }

    .gce-circle-ph {
        width: 175px;
        height: 175px;
    }
}