* {margin: 0; box-sizing: border-box; font-family: 'Mulish', sans-serif; color: rgba(32 33 36 / 1);}

.gce-pb-nps-3 {padding-bottom:48px;}

.gce-nps-flex-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gce-nps-flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gce-nps-flex-justify-center {
    justify-content: center;
}

.gce-nps-container {
    width: 100%; 
    display: flex;
    justify-content: center;
    position: relative;
    padding-left: 15px;
    padding-right: 15px; 
}


.gce-nps-section {
    width: 100%;
    max-width: 1000px;
    z-index: 2;
}

.gce-text-center {
    text-align: center;
}

/* nps 2024 css */

.gce-nps-third-section {
    width: 33.33333%;
    margin: 10px 0;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gce-nps-third-tile {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px 20px 35px 20px;
    height: 200px;
    cursor: pointer;
    border: 1px solid rgba(211 211 211 / 1);
    border-radius: 5px;
}

.gce-nps-third-tile img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.gce-nps-third-tile span {
    position: absolute;
    bottom: 8px;
    color: rgba(25 91 134 / 1);
    font-weight: 600;
}

@media (max-width:768px) {
    .gce-nps-third-section {width: 50%;}
}

@media (max-width:576px) {
    .gce-nps-third-section {width: 100%;}
}

/* pop up css */

.gce-pu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0 0 0 / .55);
    z-index: 10;
}

.gce-pu-hide {
    display: none;
}

.gce-pu-content {
    display: flex;
    flex-direction: column;
    width:650px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.gce-pu-single-product {height: 500px;}

.gce-pu-double-product {
    width: 650px;
    max-height: 500px;
    overflow: auto;
}

.gce-pu-content-header {
    display: flex;
    justify-content: flex-end;
}

.gce-pu-closeout-container {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 5x;
    background-color: rgba(240 240 240 / 1);
    border-radius: 50%;
    cursor: pointer;
}

.gce-pu-closeout-container:hover {background-color: rgba(216 216 216 / 1);}

.gce-pu-closeout {
    fill: rgba(32 33 36 / 1);
    width: 24px;
    height: 24px;
}

.gce-pu-content-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.gce-pu-content-divider {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background-color: rgba(240 240 240 / 1);
}

.gce-pu-content-body-panel-img {width: 50%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.gce-pu-content-body-panel-specs {width: 50%;}
.gce-pu-content-body-panel:first-of-type {border-right: 1px solid rgba(211 211 211 / 1) ;}
.gce-pu-content-body-panel-img img { max-height: 350px;}
.gce-pu-content-product-info {padding:0 10px;}
.gce-pu-content-product-info a {text-decoration: none;}

.gce-pu-content-product-title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 18px;
    text-align: center;
}

.gce-pu-content-product-specs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom:10px;
    background-color: rgba(25 91 134 / 1);
    border-radius: 20px;
}

.gce-nps-pu-icon {
    margin-right: 5px;
    width: 22px;
    height: 22px;
    fill: rgba(255 255 255 / 1);
}

.gce-pu-content-product-specs span {
    color: rgba(255 255 255 / 1);
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}

.gce-pu-content-product-specs:hover {
    background-color: rgba(22 81 120 / 1);
}

@media (max-width:768px) {
    .gce-pu-content {width: 300px;}
    .gce-pu-single-product {height: auto;}

    .gce-pu-content-body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gce-pu-content-body-panel-img {
        width: 100%;
        margin-bottom: 20px;
    }

    .gce-pu-content-body-panel-img img { max-height: 250px;}
    .gce-pu-content-body-panel-specs {width: 100%;}
    
    .gce-nps-pu-icon {
        width: 18px;
        height: 18px;
    }
    
    .gce-pu-content-product-specs span {font-size: 16px;}
}

.gce-nps-vote-link {text-decoration: none; margin: 30px 0; width: 60%;}

.gce-nps-vote-link-container {
    width: 100%;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(25 91 134 / 1);
    border-radius: 4px;
}

.gce-nps-vote-link-container:hover {
    background-color: rgba(22 81 120 / 1);
}

.gce-nps-vote-link-container span {
    color: white;
    font-weight: 800;
    font-size: 24px;
}

@media (max-width:768px) {
    .gce-nps-vote-link {width: 100%;}
}

.gce-nps-logo-banner {
    width: 100%;
}