* {margin: 0; box-sizing: border-box; font-family: 'Mulish', sans-serif; color: rgba(32 33 36 / 1);}

.gce-bc-white {background-color: white;}
.gce-bc-lgray {background-color: rgba(240 240 240 / 1);}
.gce-bc-logo-blue{background-color: rgba(25 91 134 / 1);}
.gce-bc-dark-blue{background-color: rgba(10 36 53 / 1);}
.gce-bc-light-black{background-color: rgba(32 33 36 / 1);}
.gce-bc-hero{
    background-image: url("https://us.evocdn.io/dealer/1280/content/media/Content_Pages/gce-home-services/ne_home_exterior.png");
    background-position: center;
}

.gce-ptb-1 {padding-top: 16px; padding-bottom: 16px;}
.gce-ptb-2 {padding-top: 32px; padding-bottom: 32px;}
.gce-ptb-3 {padding-top: 48px; padding-bottom: 48px;}
.gce-pb-1 {padding-bottom:16px;}
.gce-pb-2 {padding-bottom:32px;}
.gce-pb-3 {padding-bottom:48px;}

.gce-flex-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gce-flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gce-flex-justify-center {
    justify-content: center;
}

.gce-container {
    width: 100%; 
    display: flex;
    justify-content: center;
    position: relative;
    padding-left: 15px;
    padding-right: 15px; 
}

.gce-container-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0 0 0 / .55);
}

.gce-hs-hero-margin {margin-top: 202px;}

.gce-section {
    width: 100%;
    max-width: 1000px;
    z-index: 2;
}

.gce-half-section {
    width: 50%;
}

.gce-header {
    font-size: 44px;
    font-weight: 800;
    color: rgba(32 33 36 / 1) !important;
}

.gce-subheader {
    margin-bottom: 26px;
    font-size: 28px !important;
    font-weight: 800 !important;
    color: rgba(32 33 36 / 1) !important;
}

.gce-text-center {
    text-align: center;
}

/* placeholder CSS */

.gce-logo-ph {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

/* nps 2024 css */

.gce-nps-third-section {
    width: 33.33333%;
    margin: 10px 0;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gce-nps-third-tile {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px 20px 35px 20px;
    height: 200px;
    cursor: pointer;
    border: 1px solid rgba(211 211 211 / 1);
    border-radius: 5px;
}

.gce-nps-third-tile img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.gce-nps-third-tile span {
    position: absolute;
    bottom: 8px;
    color: rgba(25 91 134 / 1);
    font-weight: 600;
}

@media (max-width:768px) {
    .gce-nps-third-section {width: 50%;}
}

@media (max-width:576px) {
    .gce-nps-third-section {width: 100%;}
}

/* pop up css */

.gce-pu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0 0 0 / .55);
    z-index: 10;
}

.gce-pu-hide {
    display: none;
}

.gce-pu-content {
    width:100%;
    padding: 10px;
    border-radius: 12px;
}

.gce-pu-content-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gce-pu-content-header img {width: 200px;}

.gce-pu-closeout-container {
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.gce-pu-closeout-container:hover {background-color: rgba(240 240 240 / 1);}

.gce-pu-closeout {
    fill: rgba(32 33 36 / 1);
    width: 44px;
    height: 44px;
}

.gce-pu-content-body {
    width: 100%;
    display: flex;
}

.gce-pu-content-body-panel {
    width: 50%;
}

.gce-pu-content-body-panel:first-of-type {border-right: 1px solid rgba(211 211 211 / 1) ;}

.gce-pu-content-body-panel img {width: 100%;}

.gce-pu-content-product-info {padding-left: 10px;}

.gce-pu-content-product-info a {text-decoration: none;}

.gce-pu-content-product-title {
    font-size: 28px;
    line-height: 1.4;
    margin-bottom: 18px;
}

.gce-pu-content-product-details {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 18px;
}

.gce-pu-content-product-specs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(25 91 134 / 1);
    border-radius: 20px;
}

.gce-nps-pu-icon-pdf {
    margin-right: 5px;
    width: 24px;
    height: 24px;
    fill: rgba(255 255 255 / 1);
}

.gce-pu-content-product-specs span {
    color: rgba(255 255 255 / 1);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.gce-pu-content-product-specs:hover {
    background-color: rgba(225 225 225 / 1);
}

@media (max-width:768px) {
    .gce-pu-content-body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gce-pu-content-body-panel {width: 65%;}
    .gce-pu-content-body-panel:first-of-type {border-right: none;}
}

@media (max-width:576px) {
    .gce-pu-content-body-panel {width: 85%;}
}

@media (max-width:425px) {
    .gce-pu-content-body-panel {width: 100%;}
}