* {margin: 0; box-sizing: border-box; font-family: 'Mulish', sans-serif; color: rgba(32 33 36 / 1);}

.gce-hs-bc-white {background-color: white;}
.gce-hs-bc-lgray {background-color: rgba(240 240 240 / 1);}
.gce-hs-bc-logo-blue{background-color: rgba(25 91 134 / 1);}
.gce-hs-bc-dark-blue{background-color: rgba(10 36 53 / 1);}
.gce-hs-bc-light-black{background-color: rgba(32 33 36 / 1);}
.gce-hs-bc-hero{
    background-image: url("https://us.evocdn.io/dealer/1280/content/media/Content_Pages/gce-home-services/ne_home_exterior.png");
    background-position: center;
}

.gce-hs-ptb-1 {padding-top: 16px; padding-bottom: 16px;}
.gce-hs-ptb-2 {padding-top: 32px; padding-bottom: 32px;}
.gce-hs-ptb-3 {padding-top: 48px; padding-bottom: 48px;}
.gce-hs-pb-1 {padding-bottom:16px;}
.gce-hs-pb-2 {padding-bottom:32px;}
.gce-hs-pb-3 {padding-bottom:48px;}

.gce-hs-flex-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gce-hs-flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gce-hs-flex-justify-center {
    justify-content: center;
}

.gce-hs-container {
    width: 100%; 
    position: relative;
    padding-left: 15px;
    padding-right: 15px; 
}

.gce-hs-container-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0 0 0 / .55);
}

.gce-hs-hero-margin {margin-top: 202px;}

.gce-hs-section {
    width: 100%;
    max-width: 1000px;
    z-index: 2;
}

.gce-hs-half-section {
    width: 50%;
}

@media (max-width:999px) {
    .gce-hs-half-section {
        width: 100%;
    }

    .gce-hs-half-section:first-of-type{margin-bottom: 30px}
}

@media (max-width:768px) {
    .gce-hs-hero-margin{margin-top:142px;}
}

@media (max-width:360px) {
    .gce-hs-hero-margin{margin-top:129px;}
}

.gce-hs-half-section img {width: 90%;}

.gce-hs-header {
    margin: 0;
    margin-bottom: 32px;
    font-size: 44px;
    font-weight: 800;
    color: rgba(32 33 36 / 1) !important;
}

.gce-hs-subheader {
    margin: 0;
    margin-bottom: 26px;
    font-size: 28px !important;
    font-weight: 800 !important;
    color: rgba(32 33 36 / 1) !important;
}

.gce-hs-h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 800;
    color: rgba(32 33 36 / 1) !important;
}

.gce-hs-paragraph {
    font-size: 20px;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gce-hs-text-large {
    font-size: 48px;
}

.gce-hs-link-container {
    width: 100%;
    display: flex;
    gap: 5%;
}


.gce-hs-link-container a {
    padding: 24px 10px;
    background-color: rgba(25 91 134 / 1);
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.gce-hs-link-container a:hover {
    color: white;
    background-color: rgba(25 91 134 / 1);
}


.gce-hs-text-white{color: white !important;}
.gce-hs-text-logo-blue{color: rgba(25 91 134 / 1);}
.gce-hs-text-heating-red{color: rgba(230 11 43 / 1);}
.gce-hs-text-cooling-blue{color: rgba(50 89 188 / 1);}
.gce-hs-bold-text {font-weight: 800;}

@media (max-width:576px) {
    .gce-hs-header {
        text-align: center;
        font-size: 38px;
    }

    .gce-hs-subheader {
        text-align: center;
        font-size: 24px !important;
    }

    .gce-hs-h3 {
        font-size: 20px;
    }

    .gce-hs-paragraph {
        font-size: 18px;
        line-height: 1.3;
    }
    
    .gce-hs-text-large {
        font-size: 42px;
    }
}

/* GCE Home Services Top Nav CSS */
.gce-hs-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.gce-hs-nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gce-hs-nav-logo {width: 275px;}

.gce-hs-nav-links-container {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.gce-hs-nav-links-mobile-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.gce-hs-nav-link {
    position: relative;
    height: 60px;
    margin-right: 75px; 
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.gce-hs-nav-indicator {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 8px;
}

.gce-hs-nav-link a {
    padding: 5px;
    font-weight: 600;
    font-size: 19px;
    color: rgba(32 33 36 / 1);
    text-decoration: none;
}

.gce-hs-bi-list {
    display: none;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    cursor: pointer;
}

.gce-hs-hide-mobile-menu {
    display: none;
}

@media (max-width:768px) {
    .gce-hs-nav-desktop-links-container {
        display: none;
    }

    .gce-hs-bi-list {display: block;}
}

@media (max-width:360px) {
    .gce-hs-nav-logo {width: 225px;}
}

/* GCE Home Services Home Page Hero CSS */

/* First Iteration Hero Contact CSS */
.gce-hs-contact-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.gce-hs-contact-method {
    width: 47.5%;
    margin-top: 16px;
    padding: 10px;
    border-radius: 8px;
}

.gce-hs-contact-method-header {
    text-align: center;
}

.gce-hs-hero-bi {
    width: 48px;
    height: 48px;
    fill: rgba(32 33 36 / 1);
}

/* First Iteration Hero Contact CSS ENDS */

/* Second Iteration Hero Contact CSS STARTS */

.gce-hs-contact-link {
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.gce-hs-contact-link:hover {
    color: white;
    background-color: rgba(22 81 120 / 1);
}

.gce-hs-contact-text {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
}

/* Second Iteration Hero Contact CSS ENDS */

/* GCE Home Services Home Page Cards CSS */

.gce-hs-card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gce-hs-card-link {
    width: 28%;
    color: rgb(32 33 36 / 1);
    text-decoration: none;
}

@media (max-width: 1000px) {
    .gce-hs-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gce-hs-card-link {
        width: 45%;
        margin-bottom: 25px;
    }
}

@media (max-width: 576px) {
    .gce-hs-card-link {
        width: 100%;
    }
}

.gce-hs-card {
    border: 1px solid rgba(220 220 220 / 1);
    border-radius: 8px;
    overflow: hidden;
}

.gce-hs-card-header {
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 24px 24px 12px 24px;
    font-size: 20px;
    font-weight: 800;
}

.gce-hs-card-body img {
    width:100%; 
    vertical-align: bottom;}

.gce-hs-hero-bi {
    margin: 10px 0;
}

/* GCE Home Services Home Page Testimonials CSS */

.gce-hs-testimonials-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gce-hs-testimonial {width: 28%;}

.gce-hs-testimonial-text {font-size: 15px;}

/* GCE Home Services Home Page How It Works CSS */

.gce-hs-process-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gce-hs-process-item {width: 28%;}

@media (max-width:576px) {
    .gce-hs-process-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
    }
    
    .gce-hs-process-item {width: 100%;}
}

/* GCE Home Services Footer CSS */

.gce-hs-footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gce-hs-footer-link {margin: 0 20px;}

.gce-hs-footer-link a {
    padding: 5px;
    font-weight: 600;
    font-size: 17px;
    color: rgba(108 111 112 / 1);
    text-decoration: none;
}

.gce-hs-footer-link a:hover {
    text-decoration: underline;
}

.gce-hs-footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
}

.gce-hs-footer-bottom span {
    color: rgba(108 111 112 / 1);
}

.gce-hs-footer-bottom-nav-link {margin-right: 25px;}

.gce-hs-footer-bottom-nav-link a {
    color: rgba(108 111 112 / 1);
    text-decoration: none;
}

.gce-hs-footer-bottom-nav-link a:hover{text-decoration: underline;}

@media (max-width:768px) {
    .gce-hs-footer-top {
        flex-direction: column;
        gap: 35px;
    }

    .gce-hs-footer-bottom {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 35px;
    }
}

@media (max-width:425px) {
    .gce-hs-footer-link {margin-right: 15px;}

.gce-hs-footer-link a {
    font-size: 13px;
}
}

/* GCE Home Services Checkmarks CSS */

.gce-hs-feature-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.gce-hs-feature-check-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.gce-hs-check {
    display: flex;
    justify-content: center;
    min-width: 35px;
    width: 25px;
    height: 25px;
}

.gce-hs-fill-white {fill: white;}

/* GCE Home Services Designed List w/ Background Image CSS */

.gce-hs-designed-list-bg-img {
    width: 100%;
    display: flex;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 16px top;
    height: 700px;
}

.gce-hs-designed-list-card {
    width: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px; 
}

.gce-hs-designed-list-card-item {
    padding: 15px 20px;
    display: flex;
    border-top: 1px solid rgba(230 230 230 / 1);
}

.gce-hs-designed-list-card-item:first-of-type {border: none;}

.gce-hs-designed-list-card-number {
    height: 30px;
    width: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 30px;
    font-size: 22px;
    font-weight: 800;
    border: 2px solid rgba(32 33 36 / 1);
    border-radius: 50%;
}

.gce-hs-designed-list-card-content {
    display: flex;
    flex-direction: column;
}

.gce-hs-designed-list-card-header {
    margin-top: 0;
    margin-bottom: 6px;
    color: rgba(32 33 36 / 1) !important;
    font-weight: 800;
    font-size: 20px !important; 
    line-height: 28px !important;
}

.gce-hs-designed-list-card-desc {
    margin: 0;
    font-size: 16px;
}

#gce-hs-designed-list-bg-img-hvac {background-image: url('https://us.evocdn.io/dealer/1280/content/media/Content_Pages/gce-home-services/GCE_Home_Comfort_Life_style_Image_1_shutterstock_1555431512-01.png');}

@media (max-width:768px) {
    .gce-hs-designed-list-bg-img {
        justify-content: center;
        height: auto;
    }

    #gce-hs-designed-list-bg-img-hvac {background-image: none;}

    .gce-hs-designed-list-card {
        width: 90%;
    }
}

/* GCE Home Services Dropdowns (FAQ) CSS */

.gce-hs-dropdown-container{
    width: 100%;
    margin-top: 14px;
    margin-bottom: 14px;
}

.gce-hs-dropdown-header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .4s;
    cursor: pointer;
}

.gce-hs-dropdown-header{
    padding-left: 8px;
    font-size: 18px;
}

.gce-hs-dropdown-icon{
    position: relative;
    height: 44px;
    width: 44px;
    background-color: rgb(34 34 34);
}

.gce-hs-bar-1,
.gce-hs-bar-2 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 1);
}

.gce-hs-bar-1{
    width: 15px;
    height: 2px;
}

.gce-hs-bar-2{
    width: 2px;
    height: 15px;
    transition: .15s ease-out;
}

.gce-hs-bar-active {
    transform: translate(-50%, -50%) rotate(90deg);
}

.gce-hs-dropdown-content-container{
    overflow: hidden;
    max-height: 0;
    padding: 0 18px;
    border-top: 0;
    background-color: white;
    transition: max-height 0.15s ease-out;
}
.gce-hs-dropdown-content{margin: 20px 0;}

/* GCE Home Services HVAC CSS */

.gce-hs-bc-hero-hvac {
    background-image: url("https://us.evocdn.io/dealer/1280/content/media/Content_Pages/gce-home-services/alexandra-gorn-JIUjvqe2ZHg-unsplash_web.png");
    background-size: cover;
    background-position: center center;
}

.gce-hs-nanoeX-banner {
    background-image: url('https://us.evocdn.io/dealer/1280/content/media/Content_Pages/home-comfort/home-comfort-banner-text.jpg');
    background-size: cover;
    background-position: center right;
}

.gce-hs-mass-save-logo {
    width: 80%;
}

/* GCE Home Services Generator CSS */

.gce-hs-bc-hero-generator {
    background-image: url('https://us.evocdn.io/dealer/1280/content/media/Content_Pages/gce-home-services/winter_storm_generator_1800x700.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% 40%;
}

@media (max-width:768px) {
    .gce-hs-bc-hero-generator {
        background-position: 80% 50%;
    }
}

@media (max-width:425px) {
    .gce-hs-bc-hero-generator {
        background-position: 70% 50%;
    }
}

/* General CSS to add for Generators work */

.gce-hs-mh-500 {min-height: 500px;}