body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

.gce-in-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gce-in-fw {width: 100%;}
.gce-in-hw {width: 50%;}
.gce-in-section {width: 100%; max-width: 900px;}

.gce-in-flex {display: flex;}
.gce-in-flex-dir-col {flex-direction: column;}
.gce-in-flex-just-center {justify-content: center;}
.gce-in-flex-just-btwn {justify-content: space-between;}
.gce-in-flex-just-end {justify-content: flex-end;}
.gce-in-flex-align-center {align-items: center;}

.gce-in-header {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(64,89,117);
    overflow: hidden;
}

.gce-in-w-dots {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(25deg) translate(10%, -65%);
    background-color: transparent;
    background-image: radial-gradient(rgb(90,108,127) 15%, transparent 16%);
    background-size: 25px 25px;
    background-position: 0 0, 10px 10px;
    background-repeat: repeat;
}

.gce-in-y-dots {
    position: absolute;
    width: 15%;
    height: 100%;
    left: 0;
    transform: translate(0%, 80%);
    background-color: transparent;
    background-image: radial-gradient(rgba(253,196,47, .5) 15%, transparent 16%);
    background-size: 25px 25px;
    background-position: 0 0, 10px 10px;
    background-repeat: repeat;
}

.gce-in-header-text {
    z-index: 3;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-transform: uppercase;
    font-weight: 900;
}

.gce-in-header-text-white {
    color: white !important;
    font-size: 170px;
    letter-spacing: -10px;
}

.gce-in-header-text-yellow {
    color: rgb(253,196,47) !important;
    font-size: 130px;
    letter-spacing: -5px;
}

.gce-in-sale-graphic {width: 63%;}

.gce-in-promo-len {
    margin-top: 0;
    margin-bottom: 15px;
    color: rgba(20,93,167,1) !important;
    font-size: 50px !important; 
    font-weight: 1000;
    text-align: right;
}


.gce-in-date-text {
    margin-top: 0;
    margin-bottom: 15px;
    color: rgba(229,46,51,1) !important;
    font-size: 50px !important;
    font-weight: 1000;
}

.gce-in-p-text {
    font-size: 14px;
    color: #6b6b6b !important;
}

@media (max-width: 900px) {
    .gce-in-header-text-white {font-size: 130px;}
    .gce-in-header-text-yellow {font-size: 100px;}
    .gce-in-promo-len {font-size: 40px !important;}
    .gce-in-date-text {font-size: 40px !important;}
}

@media (max-width: 660px) {
    .gce-in-header-text-white {font-size: 80px; letter-spacing: 0px;}
    .gce-in-header-text-yellow {font-size: 60px; letter-spacing: 0px;}
    .gce-in-promo-len {font-size: 32px !important;}
    .gce-in-date-text {font-size: 32px !important;}
}

@media (max-width:500px) {
    .gce-in-header-text-white {font-size: 50px; letter-spacing: 0px;}
    .gce-in-header-text-yellow {font-size: 35px; letter-spacing: 0px;}
    .gce-in-promo-len {font-size: 18px !important;}
    .gce-in-date-text {font-size: 18px !important;}
}